.container {
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 20px; 
}

.d1 {
  background-color: red;
}

.d2 {
  background-color: blue;
}

.d3 {
  background-color: green;
}

.d4 {
  background-color: orange;
}

.d5 {
  background-color: purple;
}
