.container {
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px; 
}

.item5 {
  grid-column: 2 / 4;
}


.d1 {
  background-color: red;
}

.d2 {
  background-color: blue;
}

.d3 {
  background-color: green;
}

.d4 {
  background-color: orange;
}

.d5 {
  background-color: purple;
}
